@import "./global.scss";

* {
  font-family: Satoshi, sans-serif !important;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: CabinetGrotesk, sans-serif !important;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
