$primary-color: #121212;
$primary-color--85: #121212DA;

$base-white: #FFFFFF;
$base-white--85: #FFFFFFDA;
$text-white--86: #DDDDDDDD;

$gray--50: #f7fafc;
$gray--75: #F9F9F9;
$gray--100: #EDF2F7;
$gray--200: #E4E4E7;

$gray--400: #E0E0E0;
$gray--700: #2d3748;
$gray--900: #18181B;

$purple--700: #E6E6FA;

$error-shade: #733a3a;
$error-shade--85: #733a3aad;

$base-yellow: #FFD700;
$base-yellow--85: #FFD700DA;
$base-yellow--bg: #FEE13D;


$mobile-menu-icon-color: 'FFFFFFDA';
$accordion-icon-color: '121212';